html
  font-size: 14px

body
  background-image: url(../img/background.jpg)
  background-position: center top
  background-repeat: no-repeat
  font-family: 'Roboto', sans-serif
  padding: 0px

.btn
  padding: 6px
.top-nav
  margin-bottom: 30px
  margin-top: 20px
  background-color: white
  padding: 15px
  font-size: 25px
  a
    text-decoration: none
    color: #000
  &_login
    font-size: 14px
    padding: 0px
    display: flex
    &_group
      margin-right: 20px
    &_btn
      padding-top: 27px

.content
  background-color: white
